<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GoodsOperations</servlet-name>
        <servlet-class>ATDataGrid.servlets.GoodsOperations</servlet-class>
        <init-param>
            <description>The MySQL connection URL</description>
            <param-name>connectionURL</param-name>
            <param-value>jdbc:mysql://localhost:3306/classicproducts</param-value>
        </init-param>
        <init-param>
            <description>The user ID for database connection</description>
            <param-name>connectionUser</param-name>
            <param-value>ide</param-value>
        </init-param>
        <init-param>
            <description>The password to use in database connection</description>
            <param-name>connectionPass</param-name>
            <param-value>Linden02</param-value>
        </init-param>
        <init-param>
            <description>The schema name corresponding to this servlet</description>
            <param-name>servletSchema</param-name>
            <param-value>classicproducts</param-value>
        </init-param>
        <init-param>
            <description>The table name corresponding to this servlet</description>
            <param-name>servletTable</param-name>
            <param-value>products</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>DataObjectProfileManager</servlet-name>
        <servlet-class>ATDataGrid.servlets.DataObjectProfileManager</servlet-class>
        <init-param>
            <param-name>ProjectID</param-name>
            <param-value>at-guide-web-v3-0-1</param-value>
        </init-param>
        <init-param>
            <param-name>ClientID</param-name>
            <param-value>779306128660-oifef8cadlkgapshmob99df5jhvf193e.apps.googleusercontent.com</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoodsOperations</servlet-name>
        <url-pattern>/GoodsOperations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataObjectProfileManager</servlet-name>
        <url-pattern>/DataObjectProfileManager</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
        <init-param>
            <param-name>cors.allowed.origins</param-name>
            <param-value>*</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.methods</param-name>
            <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
